flows.json
[{"id":"76af0565.b89e24","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f587f2d8.a9a45","type":"function","z":"76af0565.b89e24","name":"","func":"msg.payload= msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":120,"wires":[["2c2e33ca.9c798c","ce7f0760.f4ed88"]]},{"id":"2d3ec4a3.16a164","type":"function","z":"76af0565.b89e24","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":220,"wires":[["b54f0e8d.45f8b","b3c0c58a.99d538"]]},{"id":"2c2e33ca.9c798c","type":"watson-conversation-v1","z":"76af0565.b89e24","name":"Customer Help Desk","workspaceid":"649cb7ae-fb3e-493e-8ae4-f1a28893b046","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0b9ad3ec-150c-4ca8-b174-31c3aa23dba8","timeout":"","optout-learning":false,"x":460,"y":120,"wires":[["2d3ec4a3.16a164"]]},{"id":"b3c0c58a.99d538","type":"debug","z":"76af0565.b89e24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":906,"y":98,"wires":[]},{"id":"be483cd4.956358","type":"inject","z":"76af0565.b89e24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hi","payloadType":"str","x":80,"y":60,"wires":[["2c2e33ca.9c798c"]]},{"id":"19e988b6.0376f7","type":"ui_form","z":"76af0565.b89e24","name":"","label":"","group":"9697ce2d.59d1a8","order":1,"width":"0","height":"0","options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":200,"wires":[["f587f2d8.a9a45"]]},{"id":"ce7f0760.f4ed88","type":"ui_text","z":"76af0565.b89e24","group":"a9e337f2.7cbdc8","order":2,"width":13,"height":2,"name":"","label":"You:","format":"{{msg.payload}}","layout":"row-left","x":310,"y":220,"wires":[]},{"id":"b54f0e8d.45f8b","type":"ui_text","z":"76af0565.b89e24","group":"a9e337f2.7cbdc8","order":3,"width":13,"height":5,"name":"","label":"Bot:","format":"{{msg.payload}}","layout":"col-center","x":830,"y":220,"wires":[]},{"id":"9697ce2d.59d1a8","type":"ui_group","z":"","name":"Chatbot","tab":"65f6572f.1889d","order":1,"disp":true,"width":"6","collapse":false},{"id":"65f6572f.1889d","type":"ui_tab","z":"","name":"Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]