NODE-RED_Starter_Application/flow.json
[{"id":"4b30e0e6.38eb18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"4b30e0e6.38eb18","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":141,"y":61,"wires":[["a59129f4.6771e"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"4b30e0e6.38eb18","name":"","active":true,"console":"false","complete":"false","x":610,"y":140,"wires":[]},{"id":"a59129f4.6771e","type":"watson-conversation-v1","z":"4b30e0e6.38eb18","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":420,"y":140,"wires":[["f2f2649a.0d0d98"]]}]
