node-red/flows.json
[{"id":"406333b3.19da2c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"dbe5d208.e0ae8","type":"ui_form","z":"406333b3.19da2c","name":"","label":"","group":"a9e337f2.7cbdc8","order":1,"width":13,"height":2,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":200,"wires":[["3fa28636.d786b2"]]},{"id":"3fa28636.d786b2","type":"function","z":"406333b3.19da2c","name":"","func":"msg.payload= msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":120,"wires":[["44dda594.346bcc","e881eb2e.c2bb7"]]},{"id":"5fcfae0a.3777b8","type":"function","z":"406333b3.19da2c","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":220,"wires":[["375083a5.628b94"]]},{"id":"44dda594.346bcc","type":"watson-conversation-v1","z":"406333b3.19da2c","name":"Customer Help Desk","workspaceid":"649cb7ae-fb3e-493e-8ae4-f1a28893b046","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0b9ad3ec-150c-4ca8-b174-31c3aa23dba8","timeout":"","optout-learning":false,"x":460,"y":120,"wires":[["6d5e83ac.e47f7c","5fcfae0a.3777b8"]]},{"id":"e881eb2e.c2bb7","type":"ui_text","z":"406333b3.19da2c","group":"a9e337f2.7cbdc8","order":2,"width":13,"height":2,"name":"","label":"You:","format":"{{msg.payload}}","layout":"row-left","x":310,"y":220,"wires":[]},{"id":"6d5e83ac.e47f7c","type":"debug","z":"406333b3.19da2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":120,"wires":[]},{"id":"375083a5.628b94","type":"ui_text","z":"406333b3.19da2c","group":"a9e337f2.7cbdc8","order":3,"width":13,"height":5,"name":"","label":"Bot:","format":"{{msg.payload}}","layout":"col-center","x":830,"y":220,"wires":[]},{"id":"18a52553.c1f26b","type":"inject","z":"406333b3.19da2c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hi","payloadType":"str","x":80,"y":60,"wires":[["44dda594.346bcc"]]},{"id":"a9e337f2.7cbdc8","type":"ui_group","z":"","name":"ChatBot","tab":"9eda5b14.34bdf8","order":1,"disp":true,"width":13,"collapse":false},{"id":"9eda5b14.34bdf8","type":"ui_tab","z":"","name":"Customer Care Help Desk","icon":"dashboard","order":8,"disabled":false,"hidden":false}]